.git
.github
.gitignore
README.md

env/
venv/
.venv/

__pycache__/
pycache
*.pyc
*.pyo
*.pyd
.Python

.env
.idea/
pytest.ini

tests/
Tests

log.txt
log.*
*.log
*.log.*
outputs.txt

Dockerfile
docker-compose.yml

frontend/